.order_done,.order_undo
	width 150px
	height 50px
	border-radius 5px
	margin 7px 20px 0
	text-align center
	line-height 50px
	font-size 15pt
	background rgba(255,255,255,0.7)
.order_done:hover,.order_undo:hover
	cursor pointer
	color white 		!important
	background rgba(86,164,253,1) 	!important
.order_done
	color white
	background rgba(86,164,253,1) 

	
	