*{
	margin: 0;
	padding: 0;
}


		/*主div*/
		.main-div{
			margin: 0 auto;
			width: 683pt;
		}
		
		
			/*标题栏*/
			.title-line{
				height: 34pt;
				background: rgb(17,100,219);
				font-family:source han sans cn;
				color: white;
				position: relative;
				text-align: center;
			}
			.title-line span:nth-of-type(1){
				position: absolute;
				left: 40px;
				top: 16px;
				font-size:12pt ;
				text-align: left;
			}
			.title-line span:nth-of-type(2){
				font-size: 18pt;
			}
			
			
			/*副标题栏*/
			.subtitle-line{
				height: 36pt;
				font-family:source han sans cn;
				font-size: 14pt;
				text-align: center;
				
			}
			.subtitle-line ul{
				text-align: center;
				
			}
			.subtitle-line li{
				line-height: 36pt;
				list-style: none;
				display: inline-block;
				padding: 0 35pt;
			}
			.subtitle-line li:hover{
				color: rgb(17,100,219);
				text-align: center;
			}
			
			
			/*会员详情*/
			.vip-detail{
				height: 442pt;
				text-align: center;
			}
			.empty{
				height: 8pt;
				background: rgb(245,245,245);
			}
			.vip-detail h3{
	            color:rgb(102,102,102) ;
	            font-family:source han sans cn;
	            margin-top: 9pt;
	            font-size: 12pt;
	            margin-bottom: 12pt;
			}
			.vip-detail span:nth-of-type(1),.vip-detail span:nth-of-type(2),.vip-detail span:nth-of-type(3),.vip-detail span:nth-of-type(4){
				margin-left:20pt ;
			}
			.vip-detail span:nth-of-type(7){
				margin-left:86pt ;
			}
			.vip-detail span:nth-of-type(8),.vip-detail span:nth-of-type(9){
				margin-left:128pt ;
			}
			.vip-detail input{
				margin: 9pt 0 0 8pt;
				width: 120pt;
				height: 20pt;
				background: rgb(248,248,248);
	            color:rgb(51,51,51) ;
	            font-family:source han sans cn;
	            font-size: 7pt;
	            border: 1px solid rgb(242,242,242);
			}
			.vip-detail input:nth-of-type(7),.vip-detail input:nth-of-type(8),.vip-detail input:nth-of-type(9){
				margin: 9pt 0 0 8pt;
				width: 206pt;
				height: 20pt;
	            color:rgb(51,51,51) ;
	            font-family:source han sans cn;
	            font-size: 7pt;
			}
			.vip-detail input:nth-of-type(7){
				border-bottom: none;
			}
			.vip-detail input:nth-of-type(8){
				margin: 0 0 0 8pt;
				border-top: none;
				border-bottom: none;
			}
			.vip-detail input:nth-of-type(9){
				margin: 0 0 0 8pt;
				border-top: none;
			}
			/*结尾栏*/
			.ending-line{
				background: rgb(248,248,248);
				height: 54pt;
				text-align: center;
				
			}
			.ending-line button{
				background: rgb(17,100,219);
				color:rgb(255,255,255) ;
	            font-family:source han sans cn;
				width: 80pt;
				height: 21pt;
				margin: 21pt 13pt 12pt 13pt;
				border: 0;

			}
